---
import Layout from '@/layouts/Layout.astro';
import MatchdayLayout from '@/layouts/MatchdayLayout.astro';
---

<Layout>
  <MatchdayLayout>
    <p class="text-muted-foreground">Contenido aquí pronto...</p>
  </MatchdayLayout>
</Layout>
