---
import TopAppBar from "@/components/organisms/TopAppBar.astro";
import BottomNavBar from "@/components/organisms/BottomNavBar.astro";
---

<TopAppBar />
<main class="pt-20 pb-28 px-4 space-y-8">
  <slot />
</main>
<BottomNavBar />
